.list {
  :global {
    .select {
      &__control {
        display: none
      }

      &__menu {
        margin: 0;
      }
    }
  }
}

.option {
  display: flex;
  align-items: center;
  height: 3rem;
}

.checkbox {
  pointer-events: none;
}