@import "styles/mixins";
@import "styles/variables";

.wrapper {
  --calendar-footer-height: 4.2rem;
  --timepicker-area-width: 10rem;

  position: relative;

  :global {
    .react-datepicker {
      display: block;
      margin: 0;
      padding: 0;
      width: 100%;
      border-radius: 0;
      border: 1px solid red;

      &-wrapper {
        //display: none;
        height: 0;
      }

      &-popper {
        padding: 0!important;
      }

      &__header {
        padding: 0;
        background-color: transparent;
        border-bottom: none;
      }

      &__month-container {
        padding: 0.5rem;
        width: var(--calendar-size);
      }

      &__day-names {
        position: relative;

        display: grid;
        grid-template-columns: repeat(7, 1fr);
        margin: 0;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: color(blue);
          opacity: 0.2;
        }
      }

      &__day-name {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 100%;
        height: 4rem;
        color: color(darkGray);
      }

      &__month {
        margin: 0.4rem 0 0 0;
      }

      &__week {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
      }

      &__day {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        width: 100%;
        height: 4rem;
        color: color(black);
        border-radius: 0;

        &--today {
          position: relative;
          color: color(blue);
          background-color: transparent;

          &::before {
            content: "";
            position: absolute;
            top: 3rem;
            left: calc(50% - 0.4rem / 2);
            width: 0.4rem;
            height: 0.4rem;
            background-color: color(blue);
            border-radius: 50%;
          }
        }

        &--outside-month {
          color: color(lightGray);
        }

        &--selected {
          color: color(white);
          background-color: color(blue);

          &.react-datepicker__day--today {
            &::before {
              background-color: color(white);
            }
          }
        }

        &--highlighted:not(.react-datepicker__day--selected) {
          background-color: color(lightBlue);
        }
      }
    }
  }
}

.wrapperSingleTimepicker {
  --timepicker-area-width: 5rem;
}

.wrapperNoTimepicker {
  --timepicker-area-width: 0;

  :global {
    .react-datepicker {

    }
  }
}

.wrapperDisabled {
  .label {
    pointer-events: none;
  }
}

.timepicker {
  display: flex;
  width: max-content;
  height: 33rem;
  border-radius: 0 1rem 1rem 0;
  overflow: hidden;
}

.footer {
  display: flex;
  width: 100%;
  height: var(--calendar-footer-height);
  border-top: 1px solid var(--colorMedium30);
}