@import "../../../styles/mixins";

.wrapper {
  padding-top: 14.8rem;
}

.list {
  @include resetList;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3.5rem;
  margin-top: 6.6rem;
}

@media (max-width: $adaptiveMax) {
  .wrapper {
    padding-top: 8rem;
  }

  .list {
    display: flex;
    flex-direction: column;
    grid-gap: 0;
    margin-top: 3rem;
  }

  .item {
    &:not(:first-child) {
      margin-top: 2.4rem;
    }
  }
}