@import "styles/mixins";
@import "styles/fonts";

html {
  font-size: 10px;
}

body {
  background-image:
    url("../assets/images/bg.png"),
    linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-size: cover;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
}

.visuallyHidden {
  @include visuallyHidden;
}