.target {
  justify-content: center;
  align-items: center;
  margin: 100rem auto 0 auto;
  width: 10rem;
  height: 10rem;
}

.targetVisible {
  background-color: green;
}

.targetHidden {
  background-color: red;
}