@import "styles/mixins";

.wrapper {
  --icon-search-size: 1.5rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.wrapperRequired {
}

.wrapperSearch {
  .input {
    padding-left: calc(1rem + var(--icon-search-size));
  }
}

.input {
  @include inputDefault;

  width: 100%;
  resize: none;
}

.inputHidden {
  @include visuallyHidden;
}

.checkboxDefault {
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    margin-right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: darkgray;
  }
}

.checkboxDefaultChecked {
  &::before {
    background-color: black;
  }
}

.iconCheck {
  position: absolute;
  top: calc(50% - 1.5rem / 2);
  left: calc(1.5rem / 10);
  width: 1.2rem;
  fill: white;
}

.iconSearch {
  position: absolute;
  top: calc(50% - var(--icon-search-size) / 2);
  left: 0.5rem;
  width: var(--icon-search-size);
}