.item {
  justify-content: center;
  align-items: center;
  margin: 5rem auto 0 auto;
  width: 20rem;
  height: 20rem;
  border: 1px solid black;
}

.itemVisible {
  background-color: lightgreen;
  transform: scale(1);
  transition-duration: 0.3s;
  transition-property: transform, background-color;
}

.itemHidden {
  background-color: red;
  transform: scale(0);
  transition-duration: 0.3s;
  transition-property: transform, background-color;
}