@import "../../../styles/mixins";
@import "../../../styles/variables/index";

.wrapper {
  display: grid;
  grid-template-columns: 1fr 55rem;
  grid-gap: 2.6rem 10.9rem;
  padding-top: 10.6rem;
}

.heading {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  text-transform: uppercase;
}

.description {
  @include regular;

  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin: 0;
}

.frame {
  position: relative;
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 54rem;
}

.video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.link {
  @include resetButton;
  @include fontBanner;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 7.5rem 4.8rem;
  padding: 4.2rem 6.8rem 4rem 4rem;
  width: 34rem;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;

  &:hover {
    .icon {
      transform: rotate(-90deg) translateY(5rem);
    }
  }
}

.icon {
  margin-top: 2rem;
  width: 5.5rem;
  fill: color(white);
  transform: rotate(-90deg);
  transform-origin: center;
  transition-duration: $transitionDuration;
}

@media (max-width: $adaptiveMax) {
  .wrapper {
    display: flex;
    flex-direction: column;
    grid-gap: 0;
    padding-top: 3.2rem;
  }

  .description {
    margin-top: 1.6rem;
  }

  .frame {
    margin-top: 2.4rem;
    height: 38.5rem;
  }

  .link {
    margin: 4.2rem auto;
    padding: 2.4rem 2.4rem 1rem 2.4rem;
    width: 26.2rem;
  }

  .icon {
    margin-top: 1.5rem;
  }
}