@import "styles/mixins";

.container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.list {
  @include resetList;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1.5rem;
  align-items: center;
}

.linkDisabled {
  opacity: 0.5;
  pointer-events: none;
}